@import url("https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Pixelify+Sans&display=swap");

.column {
  background-color: antiquewhite;
}

.column img  {
  width: 5em;
}
.spacing {
  margin-top: 4em;
  margin-bottom: 2em;
}
 h1, h2, h3{
  font-family: "Pixelify Sans", sans-serif;
}
article p, a{
    font-family: 'Inconsolata', monospace;
}
.ownStyles{
    background-color: rgba(red, green, blue, alpha);
}
